<h2 class="text-center border-bottom"> Empoyee detail works</h2>
<!--<div class="cintainer-fluid">-->
<!--  <h2 class="text-center  border-bottom">Department Detail</h2>-->
<!--  <div class="row container " routerLink="/departments/{{employee.id}}">-->
<!--    <div class="col-4 border-right-2 text-center">-->
<!--      <img src="{{employee.depimg}}" class="card-img shadow-lg rounded">-->
<!--    </div>-->
<!--    <div class="col-6 text-center">-->
<!--      <app-form-data-department-->
<!--        class=""-->
<!--        buttonText="Save Changes"-->
<!--        [currentName]="employee.depname"-->
<!--        [currentDescription]="employee.depdescription"-->
<!--      >-->
<!--      </app-form-data-department>-->
<!--      <button mat-raised-button color="accent" class="float-right" routerLink="/departments" (click)="deleteEmployeeById(employee.id)">Delete</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

