<div class="container ">
  <h2>Department Detail</h2>
  <div class="detail-container">
    <div class="card shadow mb-3" style="width: 30rem;" routerLink="/departments/{{department.id}}">
      <div class="row">
        <div class="col-md-4 p-3">
          <img src="{{department.depimg}}" class="card-img" alt="..." style="width: 170px; height: 150px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{department.depname}}</h3>
            <p class="card-text">{{department.depdescription}}</p>
            <p class="card-text"><small class="text-muted">Department id: {{department.id}}</small></p>
            <button mat-raised-button color="primary" routerLink="/edit-department/{{department.id}}" >Edit</button>
            <button class="fa-pull-right" mat-raised-button color="accent" routerLink="/departments" (click)="deleteDepartmentById(department.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

