<h3>All Departments</h3>
<!--<div *ngFor="let department of departments" routerLink="/departments/{{department.id}}">-->
<!--  <h6>{{ department.id }}</h6><h4>{{ department.depname }}</h4>-->
<!--</div>-->
<div class="container-fluid">
  <div class="contianer">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Department name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments" routerLink="/departments/{{department.id}}">
        <th scope="row">{{department.id}}</th>
        <td>{{department.depname}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

