<div class="container dashboard-container p-3">
  <div class="title">
    <h2>Dashboard</h2>
  </div>
  <div class="detail-cards row">
    <div class="col-sm-3">
      <div class="card cards shadow text-light bg-primary mb-5 m-2" style="max-width: 18rem;" routerLink="../departments">
        <div class="card-body">
          <i class="fas fa-landmark fa-5x"></i>
          <div class="card-text float-end">
            <h1 class="card-count fa-pull-right">5</h1><br>
            <h3 class="fa-pull-left">Departments</h3>
          </div>
        </div>
        <div class="card-footer bg-light">
          <a class="card-link">View Details <i class="fas fa-arrow-circle-right fa-pull-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card cards shadow text-light bg-success mb-5 m-2" style="max-width: 18rem;" routerLink="../employees">
        <div class="card-body">
          <i class="fas fa-users fa-5x"></i>
          <div class="card-text float-end">
            <h1 class="card-count fa-pull-right">5</h1><br>
            <h3 class="fa-pull-left">Total Employees</h3>
          </div>
        </div>
        <div class="card-footer bg-light">
          <a class="card-link link-success">View Details <i class="fas fa-arrow-circle-right fa-pull-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card cards shadow text-light bg-warning mb-5 m-2" style="max-width: 18rem;">
        <div class="card-body">
          <i class="far fa-money-bill-alt fa-5x"></i>
          <div class="card-text float-end">
            <h1 class="card-count fa-pull-right">5</h1><br>
            <h3 class="fa-pull-left">Payslips Released</h3>
          </div>
        </div>
        <div class="card-footer bg-light">
          <a class="card-link link-warning">View Details <i class="fas fa-arrow-circle-right fa-pull-right"></i></a>
        </div>
      </div>
    </div>



  </div>
</div>
