<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="" (ngSubmit)="signup()">
        <div class="form-group">
          <h3>Firebase Register</h3>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                 required
                 [(ngModel)]="email">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Enter Password"
                 required  minlength="6"
                 [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" >Register</button>
          <div class="register">
            <a href="" routerLink="/login">Back to Login</a>
          </div>
        </div>
        <p class="text-danger" *ngIf="this.authService.message">{{this.authService.message}}</p>
      </form>
    </div>
  </div>
</div>
