
<div class="container-fluid">
  <h2 class="text-center border-bottom"> All Employees</h2>
  <div class="contianer" *ngIf="!isLoading">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Emp id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone number</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let employee of employees | paginate: { id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: totalRecords
        }" routerLink="/employees/{{employee.id}}">
        <td scope="row">{{employee.id}}</td>
        <td>
          {{employee.firstname}}
        </td>
        <td>
          {{employee.lastname}}
        </td>
        <td>
          {{employee.phone}}
        </td>
      </tr>
      </tbody>

    </table>
    <div class="text-center">
      <pagination-controls
        id="listing_pagination"
        maxSize="5"
        directionLinks="true"
        (pageChange)="page = $event"
        autoHide="true"
        responsive="true"></pagination-controls>
    </div>
  </div>


  <div class="container" *ngIf="isLoading">
    <mat-progress-spinner diameter="70" strokeWidth="5" color="warn" class="pt-3" style="margin: 0 auto;" value="75"  mode="indeterminate"></mat-progress-spinner>
    <h5 class="text" style="margin: 0 auto;">Loading...</h5>
  </div>
</div>

