<div class="container-fluid">
  <div class="container">
    <div class="header">
      <h2 class="text-center border-bottom"> All Employees</h2>
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda blanditiis consectetur cumque cupiditate hic labore molestias officia optio placeat, rerum soluta tempore veritatis vitae voluptate? Est neque non quasi.
    </div>
    <div class="footer">
      <h2 class="text-center border-bottom"> 8teq</h2>
    </div>
  </div>
</div>
